.header {
  background: $off-black;
  color: white;
  margin-bottom: $m-size ;
  padding: $s-size 0;
}

.header__title {
  font-size: $m-size ;
  margin: 0;
}

.header__subtitle {
  font-size: $s-size ;
  font-weight: 400;
  color: $off-white;
  margin: 0;
}

@media(min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $l-size;
  }
}
